h1{
    color: red;
}

/*Estoy provando colores y fuentes*/
p{
    color: rgb(156, 0, 204);
    font-size: 16pt;
}

#primeraNoticia{
    color: green;
    font-size: 12pt;
}
#segundaNoticia{
    color: chartreuse;

}

.terceraNoticia{
    font-size: 50;
    text-transform: uppercase;
}

.autor, .ubicacion, .fecha{
    text-decoration: underline;
}